ETCD_NAME="${etcd3.hostname}"
ETCD_LISTEN_PEER_URLS="http://${etcd3.network_interface.0.ip_address}:2380"
ETCD_LISTEN_CLIENT_URLS="http://${etcd3.network_interface.0.ip_address}:2379,http://127.0.0.1:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://${etcd3.network_interface.0.ip_address}:2380"
ETCD_INITIAL_CLUSTER="etcd1=http://${etcd1.network_interface.0.ip_address}:2380,etcd2=http://${etcd2.network_interface.0.ip_address}:2380,etcd3=http://${etcd3.network_interface.0.ip_address}:2380"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd_cluster_1"
ETCD_ADVERTISE_CLIENT_URLS="http://${etcd3.network_interface.0.ip_address}:2379"
ETCD_DATA_DIR="/var/lib/etcd"
ETCD_ENABLE_V2="true"